{% extends "app/main/index.html" %}
{% load static %}

{% block principal %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title text-dark text-center mb-4">Login</h2>
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3 row">
                                <label for="{{ form.username.id_for_label }}" class="form-label">{{ form.username.label }}</label>
                                {{ form.username }}
                                {% if form.username.errors %}
                                    <div class="invalid-feedback d-block">
                                        {% for error in form.username.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3 row">
                                <label for="{{ form.password.id_for_label }}" class="form-label">{{ form.password.label }}</label>
                                {{ form.password }}
                                {% if form.password.errors %}
                                    <div class="invalid-feedback d-block">
                                        {% for error in form.password.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3 d-flex justify-content-between">
                                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                                <a href="{% url 'registro' %}" class="btn btn-secondary">Registrarse</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
