{% extends "app/main/index.html" %}
{% load static %}
{% block principal %}
    <header class="pt-5">
        <h1 class="display-1">Colección de Huachipato</h1>
    </header>
    <section class="contenedor">
        <!-- Contenedor de elementos -->
        <div class="contenedor-items">
            {% for polera in poleras %}
            <div class="item">
                <span class="titulo-item">{{ polera.nombre }}</span>
                <img src="{{ polera.logo.url }}" alt="{{ polera.nombre }}" class="img-item">
                <span class="precio-item text-white">{{ polera.precio }}</span>
                <span class="precio-item text-white">{{ polera.talla }}</span>
                <form method="post" action="{% url 'agregar_al_carrito' polera.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="polera_id" value="{{ polera.id }}">
                    <button type="submit" class="boton-item">Agregar al Carrito</button>
                </form>
            </div>
            {% endfor %} 
        
        </div>
    </section>
</body>
<script src={% static "js/bootstrap.bundle.min.js" %}></script>
<script src={% static "css/bootstrap.min.css" %}></script>
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
{% endblock %}
</html>
